{%extends "index.html"%}
{%block body%}
<form method='post'>
    <div class="container">
        {%for i in form%}
        {{i.label_tag}}{{i}}{{i.errors}}
        {%endfor%}
    </div>
    <div class="container">
        {%for i in form1%}
        {{i.label_tag}}{{i}}{{i.errors}}
        {%endfor%}
    </div>
</form>
   <!-- <form method="post">
        <table><tr>
            <td><input id="name" name="name" type="input"></td>
            <td><input id="submit" name="submit" type="submit"></td>
        </tr></table>
    </form>
    -->
{%endblock body%}